body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App-container {
  height: 100vh;
  padding: 10px; }

.header-container {
  margin-bottom: 15px; }
  .header-container .inputs-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header-container .Current-container {
    display: flex;
    align-items: center; }
    .header-container .Current-container .Current-descr {
      width: 70%;
      text-align: right;
      margin: 0;
      padding: 8px; }
    .header-container .Current-container .Current-temp {
      width: 30%;
      font-size: 65px;
      text-align: center;
      margin: 0; }

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.forecast {
  min-width: 275px;
  margin: 15px;
  border-radius: 13px; }

.forecast-hourly {
  /*width: 200px;*/
  /*height: 350px;*/ }
