body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-container {
  background-size: cover;
  height: 100vh;
}

.header-container {
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.forecast {
  margin: 15px;
}

.forecast-hourly {
  /*width: 200px;*/
  /*height: 350px;*/
}
