body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-container {
  height: 100vh;
  padding: 20px;
}

.App-loading {
  font-family: 'Josefin Sans', sans-serif;
  color: #FFF;
  margin-top: 35%;
  text-align: center;
  animation: flashing-loading .7s infinite;
}

@keyframes flashing-loading {
  0% {
    color: #000;
  }
  100% {
    color: #FFF;
  }
}

.Banner-container, .header-container, .forecast-container {
  max-width: 1500px;
  margin: auto;
}

.Banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 15px;
  padding: 5px;
  .Banner-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin: 0;
    color: #FFF;
    .Banner-c, .Banner-v {
      font-size: 50px
    }
  }
  .Banner-svg {
    font-size: 0;
    svg {
      margin-right: -16px;
      margin-left: -4px;
      width: 75px;
      height: 75px;
    }
  }
}

.location-input::-webkit-input-placeholder {
  text-indent: 4px;
  font-family: 'Josefin Sans', sans-serif;
}

.header-container {
  margin-bottom: 15px;
  .inputs-container {
    text-align: center;
    .location-label {
      display: flex;
      justify-content: center;
      padding: 12px;
      font-size: 0;
      .location-input {
        width: 200px;
        font-family: 'Josefin Sans', sans-serif;
        text-indent: 4px;
        border: none;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        margin-left: 10px;
        h4 {
          margin: 2px 0 0 0;
          font-family: 'Josefin Sans', sans-serif;
        }
      }
    }
  }
  .Current-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .Current-descr {
      font-family: 'Josefin Sans', sans-serif;
      color: #FFF;
      width: 70%;
      text-align: right;
      margin: 0;
      padding: 8px;
    }
    .Current-temp {
      font-family: 'Josefin Sans', sans-serif;
      color: #FFF;
      width: 30%;
      font-size: 80px;
      text-align: center;
      margin: -30px 0 0 0;
    }
    .invalid-location {
      color: rgb(200, 0, 0);
    }
  }
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.forecast {
  min-width: 275px;
  margin: 15px;
  border-radius: 8px;
}


@media screen and (max-width: 650px) {
  .header-container .Current-container .Current-descr {
    font-size: 16px;
  }

  .header-container .Current-container .Current-temp {
    font-size: 36px;
    margin: 0;
  }
}
